
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #68af9d 60%, #000000 30%);
    background-size: 200% 200%;
    height:100vh;
    width:100vw;
}

#title-txt{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

input{
    border: none;
    border-bottom: 2px solid rgb(15, 15, 15);
    background-color: transparent;
    width: 15rem;
}
textarea:focus, input:focus{
    outline: none;
    width: 20rem;
}
input{
    font-size: 1.2rem;
}
input::placeholder{
    padding-left: 2px;
    color: black;
    
}

.search{
    display: flex;
    gap: 1rem;
    position: relative;
}

#search_btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    bottom: .3rem

}
#search_btn img{
    width: 25px;
    height: 25px;
}




.card {
    
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 3%;
    height: 60vh;
    width: 50vw;
    justify-content: space-around;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px ;


    gap: 1rem;


    background: rgba(4, 122, 67, 0.226);
    box-shadow:  0 4px 4px 4px rgba(19, 18, 18, 0.6);
    
    display: none;
}

.city_img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.city_name{
    display: flex;
    font-size: 2.2rem;
}

#greeting, .city_name {
    font-weight: 400;
}
#greeting{
    display: flex;
    justify-content: center;
}



/* TEMPERATURAS */
.temp-txt{
    font-size: 3rem;
}
.temp-txt, .tempMin-txt, .tempMax-txt {
    font-weight: 600;
}
.tempMin-txt, .tempMax-txt{
    font-size: 1.5rem;
}
.tempMax-txt{
    color: rgb(199, 6, 6);
    
}
.tempMin-txt{
    color: #061AD0;
}
.min-max{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
}

/* DESCRIPTION */
.description-txt{
<<<<<<< HEAD
    font-size: 2rem;
}

@media only screen and (max-width: 500px) {
    .card {
        width: 300px;
        height: 450px;
    }
    .city_img {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    #title-txt{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .search{
        margin-bottom: 2rem;
    }
=======
    font-size: 1.7rem;
>>>>>>> master
}